* {
	font-family: 'Verdana';
}

h1 {
	font-family: 'Anton', sans-serif;
	color: #414239;
	font-size: 4em;
}

h2 {
	font-family: 'Lobster', cursive;
	color: #9e0947;
	font-size: 2.5em;
	margin: 5px;
}

h3 {
	font-size: 1em;
	color: #ce105c;
}

section {
	padding: 15px;
}


.elemento{
	padding: 5px;
}

img {
	width: 20%;
}

.superbox {
	border-width: 1px;
	border-style: dotted;
	border-color: #d7d8cb;
	margin: 5px;
}

img:hover{
	opacity: 0.8;
}

.texto p{
	text-align: justify;
}

li[famoso='principal']{
	font-weight: bold;
}

li[famoso='secundario']{
	font-style: italic;
}

div.elemento{
	display: inline-flex;
	margin-top: auto;
	margin-bottom: auto;
}

.actores {
list-style-image: url('https://goo.gl/6hPSSH');
 }

div.elemento img{
	height: 250px;
	margin-top: auto;
	margin-bottom: auto;
}	

iframe{
	height: 220px;
	width: 315px;
}